git+https://github.com/Rapptz/discord.py
git+https://github.com/theskumar/python-dotenv
git+https://github.com/rthalley/dnspython
git+https://github.com/hhatto/autopep8
git+https://github.com/pyca/pynacl
